.sub-titulo {
  font-weight: 700;
  margin-bottom: 22px;
  scroll-margin-top: 40px;
}

.grande {
font-size: 40px;
}

.pequena {
font-size: 32px;
}

/* Media queries */

@media (max-width: 992px) {
  .grande {
    font-size: 36px;
  }
  .pequena {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .grande  {
    font-size: 30px;
  }
  .pequena {
    font-size: 24px;
  }
}