.footer-container {
  font-family: Centra;
  font-weight: 500;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  flex-wrap: wrap; /* Para que sea responsive de forma natural */
}

.footer-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.footer-container > div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo-footer {
  scale: 0.8;
  object-fit: contain;
}

.footer-redes {
  margin-top: 66px;
  font-size: 20px;
}

.copy {
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
  background-color: #492fbd81;
}

/* ----------- Media Queries ----------- */
@media only screen and (max-width: 992px) {
  .footer-container {
    padding-top: 30px;
    flex-direction: column;
  }
  
  .footer-container form {
    padding: 0 5px;
  }

  .logo-footer {
    margin-top: 0;
  }

  .footer-redes .social-icon {
    padding-top: 0;
  }

  div.form_form__2HN1S {
    padding-top: 0;
  }
}