/* Custom Fonts */
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/****************** Default CSS *********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto !important;
  scroll-padding-top: 75px;
}

body {
  color: #fff;
  background-color: #000000 !important;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: "Center", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff !important;
  margin: 0;
  padding: 0;
  line-height: normal;
}
p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
button {
  border: 0;
  background-color: transparent;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}
p.success {
  color: green;
}
p.danger {
  color: red;
}
/***************** Navbar Css ****************/

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}
nav.navbar.scrolled {
  background-color: #080808d8;
  padding: 8px 0;
}
nav.navbar a.navbar-brand {
  width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.8px;
  padding: 10px 25px;
  font-size: 19px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  span.navbar-text {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 430px) {
  span.navbar-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button.vvd {
    margin: 15px 0 0 0 !important;
  }
}

button.vvd {
  width: 170px;
}
.social-icon {
  display: inline-flex;
  justify-content: center;
  min-width: 195px;
}
.social-icon a {
  width: 55px;
  height: 55px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a:last-child {
  margin-right: 0px;
}
.social-icon a::before {
  content: "";
  width: 55px;
  height: 55px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 24px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/* Background Video */

.video-background {
  position: absolute;
  width: 100%;
  height: 120vh; /* Altura por defecto en desktop */
  overflow: hidden;
  max-height: 900px;
  min-height: 600px;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover; /* Evita bordes negros */
  z-index: -1;
}

.overlay {
  position: absolute;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 20%;
  font-size: 2rem;
}

/*  M贸viles */
@media (max-width: 767px) {
  .video-background {
    height: 220vh;
    max-height: 1200px;
  }
}

/*  Tablets medianos */
@media (min-width: 768px) and (max-width: 991px) {
  .video-background {
    height: 100vh;
  }

  .video-background video {
    top: 30%;
  }
}

@media (max-width: 400px) {
  .video-background {
    max-height: 1050px;
  }
}

/************ Banner Css ************/

.banner {
  position: relative;
  margin-top: 0;
  padding: 260px 0 180px 0;
  height: 100%;
}
.banner .banner-col-text button {
  width: auto;
  margin-left: 60%;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}
.container_banner_h1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 33vh;
}
.banner h1 {
  font-size: 62px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 100%;
  padding-top: 18px;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  margin-top: 40px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  text-align: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}

@keyframes updown {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-15px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

@media only screen and (max-width: 1200px) {
  .banner {
    padding: 260px 0 80px 0;
  }

  .container_banner_h1 {
    height: 23vh;
  }

  .banner h1 {
    font-size: 50px;
  }

  .banner p {
    padding-bottom: 20px;
  }

  .banner .banner-col-text button {
    margin: 30px auto;
  }
}

@media only screen and (max-width: 993px) {
  .banner {
    padding: 260px 0 60px 0;
  }
  .banner .tagline {
    margin-top: 0;
  }
  .banner h1 {
    font-size: 45px;
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner {
    padding: 260px 0 30px 0;
  }
  .banner-col-text {
    display: flex;
    flex-direction: column;
    align-items: center; /* centra horizontalmente */
    text-align: center;
    gap: 20px;
  }

  .banner-col-text p {
    font-size: 20px;
    width: 90%;
    margin: 20px auto 10px;
  }

  .banner-col-text button {
    margin-left: 0 !important;
    width: auto;
    margin-top: 15px;
  }
}

/************ Skills Css ************/

.skill {
  scroll-margin-top: 100px;
  padding: 0px 0 50px 0;
  background: #000000;
}
.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -80px;
}
.skill-bx button {
  background-color: #080808d8;
}
.circular-progress {
  overflow: hidden;
}
.skill h2 {
  font-size: 45px;
  font-weight: 700;
}
.skill p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 40px 0;
}
.skill-slider .item {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100%;
  gap: 20px;
  width: 100%;
  z-index: 1;
}
.skill .item h5 {
  margin: auto;
  width: 200px;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.background-image-left {
  top: 0%;
  left: 0;
  position: absolute;
  width: 80%;
  z-index: -4;
}

@media only screen and (max-width: 1200px) {
  .skill-bx {
    margin: 40px 0;
  }
}

@media only screen and (max-width: 600px) {
  .skill-bx {
    padding: 30px;
  }
}

/************ Projects Css ************/
.project {
  padding: 60px 0;
  position: relative;
  height: auto;
  margin: 0;
  --x: calc(var(--posX, 0) * 0.3px);
  --y: calc(var(--posY, 0) * 0.3px);
  background-image: linear-gradient(115deg, rgb(35, 3, 53), rgb(59, 7, 104)),
    radial-gradient(
      90% 100% at calc(50% + var(--x)) calc(0% + var(--y)),
      rgb(200 200 200),
      rgb(42, 8, 96)
    ),
    radial-gradient(
      100% 100% at calc(80% - var(--x)) calc(0% - var(--y)),
      rgb(97, 2, 15),
      rgb(0, 0, 0)
    ),
    radial-gradient(
      150% 210% at calc(100% + var(--x)) calc(0% + var(--y)),
      rgb(45, 3, 109),
      rgb(246, 255, 0)
    ),
    radial-gradient(
      100% 100% at calc(100% - var(--x)) calc(30% - var(--y)),
      rgb(241, 234, 28),
      rgb(14, 0, 171)
    ),
    linear-gradient(60deg, rgb(145, 143, 148), rgb(177, 173, 190));
  background-blend-mode: overlay, overlay, difference, difference, difference,
    normal;
}
.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 40px auto 30px auto;
  text-align: center;
  width: 90%;
}
.project p:first-child {
  margin: 0px auto;
}
.project .nav.nav-pills {
  height: auto;
  width: 72%;
  margin: auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
@media only screen and (max-width: 992px) {
  .project .nav.nav-pills {
    width: 90%;
  }
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 0;
  padding: 15px 10px;
  color: #fff;
  width: 100%;
  height: 80px;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
@media only screen and (max-width: 760px) {
  .project .nav.nav-pills .nav-item {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .nav-link#projects-tabs-tab-first {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 55px 55px 0px 0px;
  }
  .nav-link#projects-tabs-tab-second {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#projects-tabs-tab-third {
    border-radius: 0 0 55px 55px;
  }
}
.row-projects-container {
  display: flex;
  justify-content: center;
}
.tab-content .row {
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  padding: 20px 35px;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: #fff;
}
@media only screen and (min-width: 1200px) {
  .proj-txtx {
    padding: 0 40px;
  }
  .proj-txtx h4 {
    font-size: 28px;
  }
  .proj-txtx span {
    font-size: 18px;
  }
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/****** ProjectDetails ******/

.project-details-inicio {
  padding: 120px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.project-details-inicio h1 {
  padding: 0 40px;
  font-size: 65px;
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  .project-details-inicio h1 {
    padding: 0;
    font-size: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .project-details-inicio h1 {
    padding: 0 10px;
    font-size: 40px;
    font-weight: 700;
  }
}
.project-details-inicio img {
  object-fit: cover;
  max-height: 550px;
  min-height: 260px;
}
.project-details-inicio p {
  color: #b8b8b8;
  font-size: 24px;
  padding: 0;
  margin: 0;
}
.project-details-descripcion {
  padding: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.project-details-descripcion .temas h3 {
  font-size: 32px;
}
.project-details-descripcion p {
  color: #b8b8b8;
  font-size: 24px;
  line-height: 1.6;
}
.project-details-descripcion ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 700px;
}
.project-details-descripcion ul li {
  color: #858585d0;
  padding: 2px 15px;
  font-size: 20px;
}
.project-details-descripcion .temas ul li {
  width: auto;
}
.project-details-descripcion .temas p {
  max-width: 900px;
  margin-top: 6px;
  font-size: 18px;
}
@media only screen and (max-width: 992px) {
  .project-details-descripcion ul {
    flex-direction: column;
  }
  .project-details-descripcion ul li {
    font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  .project-details-descripcion p {
    color: #b8b8b8;
    font-size: 20px;
  }
}
.project-details-descripcion .carousel-inner {
  margin: 20px 0;
}
.project-details-descripcion .carousel-inner .carousel-item img {
  object-fit: cover;
  height: 400px; /* o el alto que prefieras */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .project-details-descripcion .carousel-inner .carousel-item img {
    height: 240px;
  }
}
.project-details-descripcion .carousel-indicators {
  display: none;
}

.project-details-descripcion .tools p {
  padding: 0;
  margin: 0;
}
/* .project-details-descripcion {
  padding-top: 30px;
  flex: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
} */

/*Popup*/

/* Estilos para el modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

/* Contenedor del modal */
.modal-content {
  padding-bottom: 40px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -100%);
  box-shadow: 5px 4px 90px 40px rgba(17, 154, 178, 0.397);
  min-height: 300px; /* Ajusta la altura aqu铆 */
  text-align: center;
  width: 600px !important;
  background: linear-gradient(
    90.21deg,
    #aa367c -5.91%,
    #4a2fbd 111.58%
  ) !important;
  border-radius: 30px !important;
  border: 3px solid rgb(255, 255, 255) !important;
}

/* T铆tulo */
.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  font-size: 30px;
}

/* Descripci贸n */
.modal-description {
  color: #ffffff;
  font-size: 20px;
  margin-top: 10px;
}

/* Bot贸n de cerrar */
.modal-close {
  position: absolute;
  top: 200px;
  right: 45%;
  background: #d81414;
  border-radius: 50%;
  padding: 12px;
  border: 2px solid white;
  cursor: pointer;
}

.modal-close:hover {
  background: #ddd;
}

/* Icono dentro del bot贸n */
.icon-close {
  width: 20px;
  height: 20px;
  color: #555;
}

/******* Contact ******/
.contact {
  padding: 18px;
}

.contact h2 {
  font-size: 45px;
  font-weight: 700;
}

.subtitulo-contact {
  font-size: 45px;
  font-weight: 700;
}

/****** Footer ********/
.footer-container {
  font-family: Centra;
  font-weight: 500;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
div.form_form__2HN1S {
  padding-bottom: 0px !important;
}
.footer-container form {
  padding: 0 15px;
}

.footer-container div {
  flex: 1;
  justify-content: center;
}

.logo-footer {
  margin-top: 58px;
  scale: 0.8;
  object-fit: contain;
}

.footer-redes {
  margin-top: 66px !important;
  font-size: 20px;
}

@media only screen and (max-width: 992px) {
  .footer-redes .social-icon {
    padding-top: 0 !important;
  }
}
.copy {
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
  background-color: #492fbd81;
}

@media only screen and (max-width: 992px) {
  .footer-container {
    flex-direction: column;
  }
  img.logo-footer {
    margin-top: 0;
  }
  div.form_form__2HN1S {
    padding-top: 0px !important;
  }
}
/********************** React App ****************/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
